@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #45badd;
}

.main_title {
  text-align: center;
  font-size: 6rem;
  font-family: 'Rampart One', cursive;
  text-align: center;
  background: #ff3482;
  background: -webkit-linear-gradient(to bottom, #ff3482 40%, #6c1140);
  background: linear-gradient(to bottom, #ff3482 40%, #6c1140);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('./img/robot.gif') left center no-repeat;
  background-size: auto;
}
.column {
  margin-left: 10rem;
}

.column_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 20px;
  color: white;
  background: #ff3482;
  background: -webkit-linear-gradient(to bottom, #ff3482 40%, #6c1140);
  background: linear-gradient(to bottom, #ff3482 40%, #6c1140);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 20px 10px 40px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

p {
  font-size: 1.4rem;
  font-weight: 900;
  text-align: justify;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  width: 42%;
  margin-top: 2rem;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1320px) {
  .main_title {
    font-size: 4rem;
    margin: 1rem 0;
  }

  .container {
    background-size: auto;
    background-position: center center;
  }
  .column {
    margin: 0rem;
  }

  p {
    width: 85%;
    margin-top: 24rem;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
/* Media Query: Mobile */
@media screen and (max-width: 600px) {
  .main_title {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .column {
    margin: 0rem;
  }
  p {
    width: 100%;
    margin-top: 25rem;
    padding: 0 1.8rem;
  }
  button {
    padding: 0.8rem 1rem;
    font-size: 17px;
  }
}
